# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environnements virtuels
.venv/
venv/
env/

# Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Données locales volumineuses
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# PostgreSQL local
postgres_data/
pgdata/

# Fichiers temporaires Power BI
~$*.pbix
~$*.pbit
*.tmp
*.bak

# Exports temporaires
exports/
*.pdf
